.home-container {
  position: relative;         
  height: 100vh;
  background-image: url('../assets/background.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 0;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}

.home-container > * {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  padding-left: 40px;
}