.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #484545;
  padding: 10px 20px;
  position: fixed;         
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
  height: 50px;
}

.navbar-logo {
  border-left: 50px;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 65px;
  width: auto;
  display: block;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  color: #a19527;
    /* yellow highlight */
}